@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* vars */

:root{
    --red-color:rgb(0, 228, 228);
    --red-color:rgb(255, 88, 88);
    --red-alt-color:rgb(255, 42, 42);
    --ptop:70px;
    --pbottom:70px;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.309);
}

/* vars */


*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  
}

body{
    font-family: 'Tajawal', sans-serif;
}

body::-webkit-scrollbar{
    width: 20px;
}

body::-webkit-scrollbar-track{
    background-color: white;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

.container{
    padding: 90px;
}

.main-heading{
    text-transform: uppercase;
    margin: 30px auto;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    padding: 0 60px;
    color: rgb(0, 0, 0);
    border: 1px solid var(--red-alt-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
}


.main-heading::after{
    content: '';
    position: absolute;
    background-color: var(--red-alt-color);
    width: 0;
    right: 0;
    top: 0;
    height: 100%;
    transition: 0.3s;
    z-index: -1;
}

.main-heading:hover:after {
    width: 100%;
}

.main-heading:hover{
    color: white;
}

/* header */

.header{
    background-color: #0000006e;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 999;
    width: 100%;
}



.header .links i{
    color: white;
}



.header .social i{
    color: white;
    font-size: 18px;
    padding-right: 25px;
    transition: 0.3s;
    width: 50px;
}

@media (max-width:767px){
    .header .social i{
        margin-top: 10px;
    }
}

.header .social i:hover{
    cursor: pointer;
    transform: rotate(5deg);
}

.header .social i.red:hover{
    color: #ff0000;
}

.header .social i.purple:hover{
    color: #c13584;
}

.header .social i.blue:hover{
    color: #1877f2;
}

.header .social i.cyan:hover{
    color: #1da1f2;
}

.header .nav{
    width: 40%;
}

.header .nav ul{
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px){

    .header .nav{
        height: 15px;
    }

    .header .nav ul{
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.819);
        backdrop-filter: blur(3);
        top: 50px;
        width: 231px;
        height: 382px;
        text-align: 20px;
        left: 70px;
        position: absolute;
       padding: 25px;
        z-index: 999;
        text-align: center;
        overflow: hidden;
    }

}

.header .nav ul li{
    position: relative;
}

@media (max-width:767px){
    .header .nav ul li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.278);
        padding: 25px;
        margin-left: -25px;
        margin-right: -25px;
    }
}

.header .nav ul li::before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--red-color);
    bottom: -5px;
    right: 0;
    transition: 0.4s;
}

.header .nav ul li:hover::before{
    width: 100%;
}

.header .nav i{
    color: white;
    display: flex;
    justify-content: center;
    width: 50px;
    margin: auto;
    font-size: 25px;
}

@media (min-width:767px){
    .header .nav i{
        display: none;
    }

    .header .nav i:hover + ul{
        display: flex;
        flex-direction: column;
    }
}

.header .nav i:hover + ul{
    display: flex;
}







.header img{
    width: 140px;
}



/* header */

/* home */

.home{
    min-height: 100vh;
    position: relative;
    background: url("/images/pexels-revac-film\'s&photography-229047.jpg");
    background-position: center;
    background-size: cover;
}


.home::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.823);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}


.home  .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 998;
    color: white;
    padding: 0 60px;
    width: 100%;
    
}

@media (max-width:767px){
    .home  .text{
        text-align: center;
    } 
}

.home  .text h2{
    font-size: 60px;
    color: var(--red-color);
    width: 100%;
}

@media (max-width:767px){
    .home  .text h2{
        font-size: 50px;
    }
}

.home  .text p{
    width: 60%;
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
    width: 55%;
}

@media (max-width:767px) {
    .home .text p{
        line-height: 2;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        /* height: 86px; */
        font-size: 16px;
        text-align: center;
    }
}

.home  .text button{
    padding: 15px 45px;
    border-radius: 7px;
    border: 2px solid var(--red-color);
    transition: 0.4s;
    background: transparent;
}

.home  .text button:hover{
    
    background-color: var(--red-color);
}

.home  .text button a{
    color: white;
    font-size: 25px;
    transition: 0.4s;
}

.home  .text button:hover a{
    color: #111;
}

/* home */

/* about */

.about{
   min-height: 100vh;
   padding-top: var(--ptop);
   padding-bottom: var(--pbottom);
}

.about .main-heading h2{
    text-align: center;
}

.about .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    
}

.about .container .box{
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.331);
    border-radius: 10px;
    text-align: center;
    height: 700px;
}

@media (max-width:767px) {
    .about .container .box{
        height: 780px;
    }
}

.about .image{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.about .image.red::after{
    content: '';
    background-color: rgba(255, 0, 0, 0.226);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:99%;
}

.about .image.green::after{
    content: '';
    background-color: rgba(0, 233, 159, 0.226);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:99%;
}

.about .image.blue::after{
    content: '';
    background-color: rgba(47, 113, 255, 0.226);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:99%;
}


.about .image::before{
    content: "";
    position: absolute;
    bottom: 4px;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: 0.3s;
    z-index: 333;
}

@media (max-width:767px) {
    .about .image::before{
        bottom: 3px;
    }
}

.about .box:hover .image::before{
    border-width: 0px 520px 170px 500px;
    left: 0;
}



.about .box h2{
    font-size: 30px;
    margin-top: 30px;
    position: relative;
    width: fit-content;
    margin: auto;

}

.about .box  h2.red::after{
    content: '';
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--red-alt-color);
    height: 4px;
    width: 90%;
    top: 50px;
    
}

.about .box  h2.green::after{
    content: '';
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 209, 167);
    height: 4px;
    width: 90%;
    top: 50px;
    
}


.about .box  h2.blue::after{
    content: '';
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(47, 113, 255);
    height: 4px;
    width: 90%;
    top: 50px;
    
}

.about .box p{
    margin-top: 50px;
    padding: 0 50px;
    line-height: 1.8;
    font-size: 18px;
    font-weight: bold;
    color: #222;
}


.about img{
    width: 100%;
    height: 50%;
}
/* about */

/* services */

.our-services{
    min-height: 100vh;
    background-color: #eee;
    padding-top: var(--ptop);
    padding-bottom: var(--pbottom);
    text-align: center;
    position: relative;
}


.our-services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
}

.our-services .container .box{
    background-color: #ffff;
    box-shadow: var(--shadow);
    position: relative;
    /* overflow: hidden; */
    transition:  0.3s;
    width: 400px;
    
}

.our-services .container .box:hover{
   margin-top: -5px;
   margin-bottom: 5px;
}



.our-services .container .box::before{
    content: '';
    position: absolute;
    background-color: var(--red-color);
    width: 0%;
    height: 2px;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.our-services .container .box:hover::before{
    width: 100%;
}

.our-services .container .box .text{
    padding: 30px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-services .container .box i{
    color: #ff432a;
    font-size: 60px;
}

.our-services .container .box p{
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
}

.our-services .container .box .footer{
    background-color: #eee;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    position: relative;
    overflow: hidden;
}


.our-services .container .box .footer p{
    font-weight: bold;
    font-size: 30px;
    padding: 0 20px;
    color: white;
    position: relative;
}


.our-services .container .box .footer::before{
    content: '';
    position: absolute;
    background-color: var(--red-color);
    width: 120px;
    height: 100%;
}

.our-services .container .box .footer::after{
    content: '';
    position: absolute;
    background-color: #ddd;
    width: 10%;
    height: 300px;
    left: 94px;
    transform: skew(-44deg, 16deg) rotate(165deg);
}

/* services */